/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* End Font */

/* Start Body*/
body {
    color: #24292e;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16 px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body*/

/* Start Debug*/
.bg-blue {
    background-color: blue
}
.bg-red {
    background-color: red
}
/* End Debug*/

/* Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo*/

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer*/
.menu-primer ul {
	background-color: #00CC00;
	border-radius: 4px;
	-webkit-box-shadow: 9px 10px 31px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 10px 31px 0px rgba(0,0,0,0.75);
	box-shadow: 9px 10px 31px 0px rgba(0,0,0,0.75);
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase; 
}

.menu-primer a:hover {
	background-color: #FFFFFF;
	text-decoration: none;
}

.menu-primer .active{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none; 
}
/* End Menu Primer*/

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1 px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End Jumbotron */


/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}

.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}
/* End Main */

/* Start Sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29%;
}
/* End Sidebar */
/* Start Box */
.box-heading {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box */

/* Start Testimonial */
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial */

/* Start Layanan Table */
.layanan-table {
    border: 1px solid #d1d5da;
    border-collapse: collapse;
    margin: auto;
    width: 100%
}
.layanan-table th {
    background-color: #f6f8fa;
}
.layanan-table td {
    text-align: center;
}
/* End Layanan Table */

/* Start Form */
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px;
}
input::placeholder,
textarea::placeholder {
    color: #888888;
    font-weight: 300;
}

input[type="submit"],
.button {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 4px;
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* End Form */

/* Start Contact Form */
.contact-form div {
    margin: 20px 0;
}
/* End Contact Form */

/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* End Copyright */

